.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid black;
  max-width: 95%;
  margin-left: 2.5%;
  overflow-x: hidden;
}

/* .row.header {
  position: fixed;
} */

.row .checkbox {
  width: 7.5%;
}

.cell {
  padding: 0 1rem;
}

.cell.header {
  font-weight: 500;
  /* padding: 0 0.75rem; */
}